Satellites/.vs/

Satellites/Satellites.Api/obj
Satellites/Satellites.Api/bin
Satellites/Satellites.Core/bin
Satellites/Satellites.Core/obj

Satellites/Satellites.Persistence/obj/
Satellites/Satellites.Persistence/bin/

Satellites/Satellites.Tests/obj/
Satellites/Satellites.Tests/bin/

Satellites/Common/Common.Logging/obj
Satellites/Common/Common.Logging/bin
